//@import "reset"  /* IF we don't use Bootstrap styles, etc. */
@import "bourbon/bourbon"
@import "vars"
@import "fonts"
@import "libs"


/* Base styles of the project */

body
    position: relative
    min-width: 320px
    height: 100%
    background: url("../img/pattern.jpg") center center
    font-family: $font-family-primary
    font-size: 16px
    color: $font-color-primary
    line-height: $line-height-main
    overflow-x: hidden


/* Buttons */

.btn-lg,
.btn-outline-success
    background-color: transparent
    border-radius: 5px
    border: 1px solid rgba(19, 128, 26, 1)
    font-family: $font-family-secondary
    padding-top: 8px
    padding-bottom: 12px
    transition: 0.7s
    &:hover, :focus, :active
        background-color: rgba(19, 128, 36, 0.54)
        border: 1px solid rgba(19, 128, 26, 0)
        transition: 0.7s

.parallax-btn
    width: 200px
    margin: 30px auto 0 auto


/* SPAN's */

.bold-green
    color: rgba(19, 128, 36, 0.9)

.underline-green
        border-bottom: 2px solid rgba(19, 128, 36, 0.9)


/* Float elements */

.pull-xs-right
    float: right

.pull-xs-left
    float: left


/* Headings */

.headings
    color: $font-color-secondary
    text-align: center


/* Paragraphs */

.under-heading
    color: $font-color-secondary
    text-align: center

/* Form */

textarea,
input
    &:focus
        border-color: rgba(19, 128, 36, 0.33) !important
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px rgba(231, 76, 60, 0.05) !important


/*  Animation  */

.js-wp-1,
.js-wp-5,
.js-wp-6,
.js-wp-7,
.js-wp-8,
.js-wp-9
    opacity: 0
.js-wp-2
    opacity: 0
    animation-delay: 0.7s
.js-wp-3
    opacity: 0
    animation-delay: 1.2s
.js-wp-4
    opacity: 0
    animation-delay: 0.7s

.js-wp-1.animated,
.js-wp-2.animated,
.js-wp-3.animated,
.js-wp-4.animated,
.js-wp-5.animated,
.js-wp-6.animated,
.js-wp-7.animated,
.js-wp-8.animated,
.js-wp-9.animated
    opacity: 1



/*----------------------------*/