@import "bourbon/bourbon"
@import "vars"
@import "base"


/* Custom styles here */

/*---- Home page styles ----*/

#home-page
    height: 100vh
    background: url("../img/trees.jpg") center
    -webkit-background-size: cover
    background-size: cover









/*--------------------------*/

/* Always at the end */

@import "media"
